* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-family-base;
  background-color: $color-bg-light;
  color: $color-text-light;
  line-height: 1.5;
}
a {
  color: $color-link-light;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
