body.theme-light {
  background-color: $color-bg-light;
  color: $color-text-light;

  a {
    color: $color-link-light;
  }

  article {
    background-color: lighten($color-bg-light, 10%);
  }
}

body.theme-dark {
  background-color: $color-bg-dark;
  color: $color-text-dark;

  a {
    color: $color-link-dark;
  }

  article {
    background-color: lighten($color-bg-dark, 10%);
  }
}

body.theme-dark article {
  background: #2a2a2a;
  color: #eee;
}

body.theme-dark article h2 {
  color: #66aaff;
}

body.theme-dark article time {
  color: #aaa;
}


  